
.banner_desk_title{
    width: 75%!important;
    padding:5px;
    margin-top:10px;

}

.banner_mobile_title{
        width: 75%!important;
    padding:5px;
    margin-top:10px;
}


.w10 {width: 10%;}
.w25 {width: 25%;}
.w50 {width: 50%;}
.w75 {width: 75%;}
.w100 {width: 100%;}

.btn-admin-save {
    float: right;
    padding:5px 10px 5px 10px;
    border-radius: 2em;
    background-color: #F06F30;
    color: #fff;
    border: none;
    /* margin-bottom: 50px; */
    margin-bottom: 20px;
}

.btn-admin-save:hover {
    color: #fff;
    background-color: #F28954;
}

h3.card-title{
    font-size: 1.5rem;
    font-weight: 900;
}